export(UHC_logical)
export(cause_illness_7)
export(change_routine_3)
export(create_dictionnary_flusurvey_201213)
export(date_time)
export(dictionary_validated)
export(is_valid_dico_survey)
export(is_valid_format)
export(is_valid_from_names)
export(is_valid_to_names)
export(medication_logical)
export(phone_logical)
export(same_bout_3)
export(still_ill_3)
export(still_off_3)
export(sudden_onset_of_4)
export(summarize_symptoms)
export(symptom_logical)
export(time_off_8)
export(time_to_AV_7)
export(time_to_phone_7)
export(time_to_visit_7)
export(top_fever_7)
export(valid_survey_names)
export(valid_variable_names)
export(variable_dico)
export(variable_name_validated)
export(visit_logical)
export(zero_one_to_true_false)
import(jsonlite)
importFrom(plyr,mapvalues)
importFrom(plyr,mutate)
