export(cause_illness_7)
export(change_routine_3)
export(create_dictionnary_flusurvey_201213)
export(date_ymd)
export(medication_logical)
export(phone_logical)
export(same_bout_3)
export(still_ill_3)
export(still_off_3)
export(sudden_onset_of_4)
export(symptom_logical)
export(time_off_8)
export(time_to_AV_7)
export(time_to_phone_7)
export(time_to_visit_7)
export(top_fever_7)
export(valid_variable_names)
export(variable_dico)
export(variable_name_OK)
export(visit_logical)
import(jsonlite)
